.nav {
    grid-area: n;
    border: 1px solid #000;
    background-color: #2e1818;
    padding: 20px;
  }

  .item {
    color: #fff;
  }

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}